/* =============== Footer stuff ================================== */
.site-footer {
  @include clearfix();
  display:flex;
  flex-wrap: wrap;
  position:relative;
  bottom: 0px;
  background-color: $theme-delpher-ocean;
  border-top: 3px solid $theme-delpher-pink;
  border-bottom: 3px solid $theme-delpher-pink;
  margin-bottom: 2em;
  margin-top: 1em;
  margin-left: $theme-menu-width + 20px;
  text-rendering: optimizeLegibility;

   a {
     text-decoration: none;
     color: $topnav-color;
     font-size: 85%;}
   
   a:hover {
     text-decoration: none; }

  ul {  border: 0px solid #00ee00;
     list-style: none;
     padding: 0.0em 0.0em;}

  li {  
     border: 0px solid #000000;
     text-align: left;
     background-color: $topnav-background-color;
     white-space: nowrap;}
 }

.ft-main {
    padding: 0.25rem 0.075rem;
    padding-left:30px;
    display: flex;
    flex-wrap: wrap;
    h4 {font-family: "Roboto-Slab";
    margin-bottom: 0.2em;}
}
.ft-main-item {
    border:0px solid #ffe23b;
    padding: 1.25rem;
    min-width: 12.5rem /*200px*/;
  }

  .social-icons {
   border:0px solid #ffe23b;
    font-family: "FontAwesome";
    font-style: normal;
    font-size: 2em;
  }

  .social-icon {
    border:0px solid #000;
    display: inline-block;
    padding-left: 0.25em; }

  .site-logo-img-footer {
   padding-right: 1em;
   width: 0.8 * $site-logo-width;
   @include breakpoint(md) {
     width: 1.1 * $site-logo-width;}
   @include breakpoint(lg) {
     width: 1.5 * $site-logo-width;}
  }

 .copyright {
  font-size: 90%;
  border: 0px solid #00ff00;
  text-align: center;
  padding: 0.9375rem 0.875rem;
  width:100%;
  background-color: $theme-delpher-teal;
  color: $theme-white;
  a {color: $theme-white;
     text-decoration: underline;
     font-size: 100%;}

  p {
    margin-bottom: 0.5em;
    padding: 0;}
  }


/* =============== End - Footer stuff ================================== */